.DS_Store
**/.DS_Store
UX-Guide-Metadata/bin/_tmp/

UX-Guide-Metadata/UX-Guide-Metadata-principles.zip
Gautier.md
UX-Guide-Metadata/draft/localizations/canonical-json-strings.csv
UX-Guide-Metadata/draft/localizations/epub-metadata-strings.csv
UX-Guide-Metadata/draft/localizations/epub-metadata-strings.xml
UX-Guide-Metadata/draft/localizations/onix-metadata-strings.csv
UX-Guide-Metadata/draft/localizations/onix-metadata-strings.xml
UX-Guide-Metadata/draft/localizations/canonical-json-strings.xlsx
UX-Guide-Metadata/draft/localizations/epub-metadata-strings.xlsx
UX-Guide-Metadata/draft/localizations/onix-metadata-strings.xlsx
UX-Guide-Metadata/draft/localizations/~$canonical-json-strings.xlsx
